.env
__pycache__/
*.py[cod]
.vscode/
.ipynb_checkpoints/
docs/_extracted.txt
Customer Support Tickets Analytics Project.docx
models/*.pkl
data/customer_support_ticket.csv
!data/customer_support_ticket_sample.csv
/interview_questions.md

# DVC and Model artifacts
.dvc/
*.pth
*.joblib